{
  "name": "sourcetree",
  "version": "0.1",
  "vendor": "vendor-name",
  "cli_version": "2.7.5",
  "signature": "",
  "dependencies": null,
  "migration": null,
  "plist": [
    {
      "file": "ops.mind/bin/app/index.json",
      "id": "cmdb_mpage-239e9kzkz8ugm",
      "parent": "cmdb_mpage-3fkl2i5f04ttb"
    },
    {
      "file": "ops.mind/bin/app/控制中心/index.json",
      "id": "cmdb_mpage-1tj7nfaz5oqyx",
      "parent": "cmdb_mpage-239e9kzkz8ugm"
    },
    {
      "file": "ops.mind/bin/app/控制中心/导航菜单/index.json",
      "id": "cmdb_mpage-340k9jkkxk203",
      "parent": "cmdb_mpage-1tj7nfaz5oqyx"
    },
    {
      "file": "ops.mind/bin/app/控制中心/导航菜单/其他/index.json",
      "id": "cmdb_mpage-1ftrxunzp4tak",
      "parent": "cmdb_mpage-340k9jkkxk203"
    },
    {
      "file": "ops.mind/bin/app/控制中心/导航菜单/其他/资源树管理/index.json",
      "id": "cmdb_mpage-1unaxjuimwear",
      "parent": "cmdb_mpage-1ftrxunzp4tak"
    },
    {
      "file": "ops.mind/bin/app/控制中心/导航菜单/其他/资源树管理/标签页/24 栅格系统/JsonSchema表单/index.json",
      "id": "cmdb_mpage-388zlrcqbbbhp",
      "parent": "cmdb_mpage-1pxu1yn3hm0de"
    },
    {
      "file": "ops.mind/bin/app/控制中心/导航菜单/其他/资源树管理/标签页/24 栅格系统/index.json",
      "id": "cmdb_mpage-1pxu1yn3hm0de",
      "parent": "cmdb_mpage-3tgniofkvm0w0"
    },
    {
      "file": "ops.mind/bin/app/控制中心/导航菜单/其他/资源树管理/标签页/24 栅格系统/配置资源树/index.json",
      "id": "cmdb_mpage-3g3i9lsqju6rt",
      "parent": "cmdb_mpage-1pxu1yn3hm0de"
    },
    {
      "file": "ops.mind/bin/app/控制中心/导航菜单/其他/资源树管理/标签页/index.json",
      "id": "cmdb_mpage-3tgniofkvm0w0",
      "parent": "cmdb_mpage-1unaxjuimwear"
    },
    {
      "file": "ops.mind/bin/app/控制中心/导航菜单/其他/资源树管理/标签页/表单配置/index.json",
      "id": "cmdb_mpage-1pntl05r3xeyu",
      "parent": "cmdb_mpage-3tgniofkvm0w0"
    },
    {
      "file": "ops.mind/bin/app/控制中心/导航菜单/其他/资源树管理/标签页/资源树配置/index.json",
      "id": "cmdb_mpage-hq0mm1vttwc5",
      "parent": "cmdb_mpage-3tgniofkvm0w0"
    },
    {
      "file": "ops.mind/bin/index.json",
      "id": "cmdb_mpage-3fkl2i5f04ttb",
      "parent": "cmdb_mpage-root"
    },
    {
      "file": "ops.mind/etc/Tar包（资源树配置）/index.json",
      "id": "cmdb_mpage-39p1bz9thij06",
      "parent": "cmdb_mpage-infz0if4d6ir"
    },
    {
      "file": "ops.mind/etc/index.json",
      "id": "cmdb_mpage-infz0if4d6ir",
      "parent": "cmdb_mpage-root"
    },
    {
      "file": "ops.mind/index.json",
      "id": "cmdb_mpage-root",
      "parent": ""
    },
    {
      "file": "ops.mind/usr/index.json",
      "id": "cmdb_mpage-gfd5hncjcyu9",
      "parent": "cmdb_mpage-root"
    },
    {
      "file": "ops.mind/usr/lib/index.json",
      "id": "cmdb_mpage-2rdcdsc5zjaox",
      "parent": "cmdb_mpage-gfd5hncjcyu9"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/index.json",
      "id": "cmdb_mpage-229tk9jocs2fq",
      "parent": "cmdb_mpage-2rdcdsc5zjaox"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/配置资源树/JsonSchema表单/index.json",
      "id": "cmdb_mpage-mfbn0rx1u7ib",
      "parent": "cmdb_mpage-1l45czaovb9al"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/配置资源树/index.json",
      "id": "cmdb_mpage-1l45czaovb9al",
      "parent": "cmdb_mpage-229tk9jocs2fq"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/配置资源树/配置资源树/index.json",
      "id": "cmdb_mpage-e5l32lwcyl9d",
      "parent": "cmdb_mpage-1l45czaovb9al"
    },
    {
      "file": "resources/cmdb_index-10mhkrmog5m92.json",
      "id": "cmdb_index-10mhkrmog5m92",
      "parent": ""
    },
    {
      "file": "resources/cmdb_index-1gpcldf9motu9.json",
      "id": "cmdb_index-1gpcldf9motu9",
      "parent": ""
    },
    {
      "file": "resources/cmdb_index-2x0obieq05eso.json",
      "id": "cmdb_index-2x0obieq05eso",
      "parent": ""
    },
    {
      "file": "resources/cmdb_index-3m0ydjr9bbx9d.json",
      "id": "cmdb_index-3m0ydjr9bbx9d",
      "parent": ""
    },
    {
      "file": "resources/cmdb_mpage-12j7utspido0w.json",
      "id": "cmdb_mpage-12j7utspido0w",
      "parent": ""
    },
    {
      "file": "resources/cmdb_mpage-20ie5cdobt8zo.json",
      "id": "cmdb_mpage-20ie5cdobt8zo",
      "parent": ""
    },
    {
      "file": "resources/cmdb_mpage-314iw7qw8vsc8.json",
      "id": "cmdb_mpage-314iw7qw8vsc8",
      "parent": ""
    },
    {
      "file": "resources/cmdb_mpage-37c5vospxvja6.json",
      "id": "cmdb_mpage-37c5vospxvja6",
      "parent": ""
    },
    {
      "file": "resources/cmdb_mpage-3pe6sr7inczsk.json",
      "id": "cmdb_mpage-3pe6sr7inczsk",
      "parent": ""
    },
    {
      "file": "resources/cmdb_mpage-bw5rqpww94q3.json",
      "id": "cmdb_mpage-bw5rqpww94q3",
      "parent": ""
    },
    {
      "file": "resources/cmdb_mpage-e5l32lwcyl9d.json",
      "id": "cmdb_mpage-e5l32lwcyl9d",
      "parent": "cmdb_mpage-1l45czaovb9al"
    },
    {
      "file": "resources/cmdb_mpage-ma6qbeq117fj.json",
      "id": "cmdb_mpage-ma6qbeq117fj",
      "parent": ""
    },
    {
      "file": "resources/cmdb_mpage-zv90hvu31enk.json",
      "id": "cmdb_mpage-zv90hvu31enk",
      "parent": ""
    },
    {
      "file": "resources/cmdb_ql-2zed3dyhzludy.json",
      "id": "cmdb_ql-2zed3dyhzludy",
      "parent": ""
    },
    {
      "file": "resources/cmdb_schema_u_jsonschema_config-0.json",
      "id": "cmdb_schema_u_jsonschema_config-0",
      "parent": ""
    },
    {
      "file": "resources/cmdb_schema_u_tree_config-0.json",
      "id": "cmdb_schema_u_tree_config-0",
      "parent": ""
    },
    {
      "file": "resources/cmdb_view-2s2krkn83z7q.json",
      "id": "cmdb_view-2s2krkn83z7q",
      "parent": ""
    },
    {
      "file": "resources/cmdb_workflow-10w31drnaf7l2.json",
      "id": "cmdb_workflow-10w31drnaf7l2",
      "parent": ""
    },
    {
      "file": "resources/cmdb_workflow-1a7kg26z9zx03.json",
      "id": "cmdb_workflow-1a7kg26z9zx03",
      "parent": ""
    },
    {
      "file": "resources/cmdb_workflow-1yirla1p6muih.json",
      "id": "cmdb_workflow-1yirla1p6muih",
      "parent": ""
    },
    {
      "file": "resources/cmdb_workflow-2xvyskqdrfpuo.json",
      "id": "cmdb_workflow-2xvyskqdrfpuo",
      "parent": ""
    },
    {
      "file": "resources/cmdb_workflow-33a9dppf2ij69.json",
      "id": "cmdb_workflow-33a9dppf2ij69",
      "parent": ""
    },
    {
      "file": "resources/cmdb_workflow-ejgwga005ejm.json",
      "id": "cmdb_workflow-ejgwga005ejm",
      "parent": ""
    },
    {
      "file": "resources/cmdb_workflow-hp4egum3nct9.json",
      "id": "cmdb_workflow-hp4egum3nct9",
      "parent": ""
    },
    {
      "file": "resources/cmdb_workflow-x6yzfk9jc2eo.json",
      "id": "cmdb_workflow-x6yzfk9jc2eo",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x-1j3o1gk2ww2j1.json",
      "id": "cmdb_x-1j3o1gk2ww2j1",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x-28bl2kqrvf8xq.json",
      "id": "cmdb_x-28bl2kqrvf8xq",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x-2dimdfrfpo0lw.json",
      "id": "cmdb_x-2dimdfrfpo0lw",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x-2dx55vlrfasbr.json",
      "id": "cmdb_x-2dx55vlrfasbr",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x-2nnm9fb735g8w.json",
      "id": "cmdb_x-2nnm9fb735g8w",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x-3704cotq94n52.json",
      "id": "cmdb_x-3704cotq94n52",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x-3g9yel3oalu49.json",
      "id": "cmdb_x-3g9yel3oalu49",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x-fjqhnzpib1kw.json",
      "id": "cmdb_x-fjqhnzpib1kw",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x_u_jsonschema_config-0_default.json",
      "id": "cmdb_x_u_jsonschema_config-0_default",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x_u_tree_config-0_default.json",
      "id": "cmdb_x_u_tree_config-0_default",
      "parent": ""
    },
    {
      "file": "resources/ignore_cmdb/cmdb_object_ql-3jg26ossah60w.json",
      "id": "cmdb_object_ql-3jg26ossah60w",
      "parent": ""
    },
    {
      "file": "resources/ignore_cmdb/cmdb_object_ql-4b1hbwrw8py3.json",
      "id": "cmdb_object_ql-4b1hbwrw8py3",
      "parent": ""
    },
    {
      "file": "resources/ignore_cmdb/cmdb_ql-3d9man53w4lu6.json",
      "id": "cmdb_ql-3d9man53w4lu6",
      "parent": ""
    },
    {
      "file": "resources/ignore_cmdb/cmdb_ql-opg685mvv5pm.json",
      "id": "cmdb_ql-opg685mvv5pm",
      "parent": ""
    },
    {
      "file": "resources/lib/cmdb_mpage-1l45czaovb9al.json",
      "id": "cmdb_mpage-1l45czaovb9al",
      "parent": "cmdb_mpage-229tk9jocs2fq"
    },
    {
      "file": "resources/scripts/cmdb_workflow-10w31drnaf7l2.data.nodes.2.config.script.js",
      "id": "",
      "parent": ""
    },
    {
      "file": "resources/scripts/cmdb_workflow-1a7kg26z9zx03.data.nodes.2.config.script.js",
      "id": "",
      "parent": ""
    },
    {
      "file": "resources/scripts/cmdb_workflow-1yirla1p6muih.data.nodes.2.config.script.js",
      "id": "",
      "parent": ""
    },
    {
      "file": "resources/scripts/cmdb_workflow-2xvyskqdrfpuo.data.nodes.2.config.script.js",
      "id": "",
      "parent": ""
    },
    {
      "file": "resources/scripts/cmdb_workflow-33a9dppf2ij69.data.nodes.2.config.script.js",
      "id": "",
      "parent": ""
    },
    {
      "file": "resources/scripts/cmdb_workflow-ejgwga005ejm.data.nodes.2.config.script.js",
      "id": "",
      "parent": ""
    },
    {
      "file": "resources/scripts/cmdb_workflow-hp4egum3nct9.data.nodes.2.config.script.js",
      "id": "",
      "parent": ""
    },
    {
      "file": "resources/scripts/cmdb_workflow-x6yzfk9jc2eo.data.nodes.2.config.script.js",
      "id": "",
      "parent": ""
    },
    {
      "file": "resources/tar/cmdb_ql-2kaejqjmkmxvf.json",
      "id": "cmdb_ql-2kaejqjmkmxvf",
      "parent": ""
    }
  ],
  "appdir": "ops.mind"
}