{
  "name": "sourcetree",
  "version": "0.1",
  "vendor": "vendor-name",
  "cli_version": "2.7.5",
  "signature": "",
  "dependencies": null,
  "migration": null,
  "plist": [
    {
      "file": "ops.mind/bin/app/index.json",
      "id": "cmdb_mpage-239e9kzkz8ugm",
      "parent": "cmdb_mpage-3fkl2i5f04ttb"
    },
    {
      "file": "ops.mind/bin/app/控制中心/index.json",
      "id": "cmdb_mpage-1tj7nfaz5oqyx",
      "parent": "cmdb_mpage-239e9kzkz8ugm"
    },
    {
      "file": "ops.mind/bin/app/控制中心/导航菜单/index.json",
      "id": "cmdb_mpage-340k9jkkxk203",
      "parent": "cmdb_mpage-1tj7nfaz5oqyx"
    },
    {
      "file": "ops.mind/bin/app/控制中心/导航菜单/其他/index.json",
      "id": "cmdb_mpage-1ftrxunzp4tak",
      "parent": "cmdb_mpage-340k9jkkxk203"
    },
    {
      "file": "ops.mind/bin/app/控制中心/导航菜单/其他/资源树管理/index.json",
      "id": "cmdb_mpage-1unaxjuimwear",
      "parent": "cmdb_mpage-1ftrxunzp4tak"
    },
    {
      "file": "ops.mind/bin/app/控制中心/导航菜单/其他/资源树管理/标签页/24 栅格系统/JsonSchema表单/index.json",
      "id": "cmdb_mpage-388zlrcqbbbhp",
      "parent": "cmdb_mpage-1pxu1yn3hm0de"
    },
    {
      "file": "ops.mind/bin/app/控制中心/导航菜单/其他/资源树管理/标签页/24 栅格系统/index.json",
      "id": "cmdb_mpage-1pxu1yn3hm0de",
      "parent": "cmdb_mpage-3tgniofkvm0w0"
    },
    {
      "file": "ops.mind/bin/app/控制中心/导航菜单/其他/资源树管理/标签页/24 栅格系统/配置资源树/index.json",
      "id": "cmdb_mpage-3g3i9lsqju6rt",
      "parent": "cmdb_mpage-1pxu1yn3hm0de"
    },
    {
      "file": "ops.mind/bin/app/控制中心/导航菜单/其他/资源树管理/标签页/index.json",
      "id": "cmdb_mpage-3tgniofkvm0w0",
      "parent": "cmdb_mpage-1unaxjuimwear"
    },
    {
      "file": "ops.mind/bin/app/控制中心/导航菜单/其他/资源树管理/标签页/表单配置/index.json",
      "id": "cmdb_mpage-1pntl05r3xeyu",
      "parent": "cmdb_mpage-3tgniofkvm0w0"
    },
    {
      "file": "ops.mind/bin/app/控制中心/导航菜单/其他/资源树管理/标签页/资源树配置/index.json",
      "id": "cmdb_mpage-hq0mm1vttwc5",
      "parent": "cmdb_mpage-3tgniofkvm0w0"
    },
    {
      "file": "ops.mind/bin/index.json",
      "id": "cmdb_mpage-3fkl2i5f04ttb",
      "parent": "cmdb_mpage-root"
    },
    {
      "file": "ops.mind/etc/Tar包（资源树配置）/index.json",
      "id": "cmdb_mpage-39p1bz9thij06",
      "parent": "cmdb_mpage-infz0if4d6ir"
    },
    {
      "file": "ops.mind/etc/index.json",
      "id": "cmdb_mpage-infz0if4d6ir",
      "parent": "cmdb_mpage-root"
    },
    {
      "file": "ops.mind/index.json",
      "id": "cmdb_mpage-root",
      "parent": ""
    },
    {
      "file": "ops.mind/usr/index.json",
      "id": "cmdb_mpage-gfd5hncjcyu9",
      "parent": "cmdb_mpage-root"
    },
    {
      "file": "ops.mind/usr/lib/index.json",
      "id": "cmdb_mpage-2rdcdsc5zjaox",
      "parent": "cmdb_mpage-gfd5hncjcyu9"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/index.json",
      "id": "cmdb_mpage-229tk9jocs2fq",
      "parent": "cmdb_mpage-2rdcdsc5zjaox"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/树联动列表页/index.json",
      "id": "cmdb_mpage-122qbrng3sduj",
      "parent": "cmdb_mpage-229tk9jocs2fq"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/树联动列表页/查询视图模版配置 /index.json",
      "id": "cmdb_mpage-2295gr7mp9g2j",
      "parent": "cmdb_mpage-122qbrng3sduj"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/树联动列表页/查询视图模版配置 /查询数据源数据/index.json",
      "id": "cmdb_mpage-151jugsdwqn0r",
      "parent": "cmdb_mpage-2295gr7mp9g2j"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/树联动列表页/查询视图模版配置 /查询数据源数据/模型对象列表模板/index.json",
      "id": "cmdb_mpage-2as2tpecpvvey",
      "parent": "cmdb_mpage-151jugsdwqn0r"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/树联动列表页/查询视图模版配置 /查询数据源数据/模型对象列表模板/动态获取新建弹窗名称/index.json",
      "id": "cmdb_mpage-133r3dnfpqb28",
      "parent": "cmdb_mpage-2as2tpecpvvey"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/树联动列表页/查询视图模版配置 /查询数据源数据/模型对象列表模板/动态获取编辑弹窗名称/index.json",
      "id": "cmdb_mpage-u4j0sjng0pe9",
      "parent": "cmdb_mpage-2as2tpecpvvey"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/树联动列表页/查询视图模版配置 /查询数据源数据/模型对象列表模板/变量渲染/index.json",
      "id": "cmdb_mpage-u8jvf2gmiq6e",
      "parent": "cmdb_mpage-2as2tpecpvvey"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/树联动列表页/查询视图模版配置 /查询数据源数据/模型对象列表模板/查询所有模型/index.json",
      "id": "cmdb_mpage-mq1u1zpi42rl",
      "parent": "cmdb_mpage-2as2tpecpvvey"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/树联动列表页/查询视图模版配置 /查询数据源数据/模型对象列表模板/查询所有模型/模型对象列表操作/index.json",
      "id": "cmdb_mpage-3s4emqpmvwjfg",
      "parent": "cmdb_mpage-mq1u1zpi42rl"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/树联动列表页/查询视图模版配置 /查询数据源数据/模型对象列表模板/查询所有模型/模型对象列表操作/归档拟态框/cmdb资源模型对象归档/index.json",
      "id": "cmdb_mpage-1w7imq5akkcjm",
      "parent": "cmdb_mpage-2i9lj1hvxzgbp"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/树联动列表页/查询视图模版配置 /查询数据源数据/模型对象列表模板/查询所有模型/模型对象列表操作/归档拟态框/index.json",
      "id": "cmdb_mpage-2i9lj1hvxzgbp",
      "parent": "cmdb_mpage-3s4emqpmvwjfg"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/树联动列表页/查询视图模版配置 /查询数据源数据/模型对象列表模板/查询所有模型/模型对象列表操作/归档拟态框/归档提醒/index.json",
      "id": "cmdb_mpage-mfe93529jwpt",
      "parent": "cmdb_mpage-2i9lj1hvxzgbp"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/树联动列表页/查询视图模版配置 /查询数据源数据/模型对象列表模板/查询所有模型/模型对象列表操作/归档拟态框/警告提示/index.json",
      "id": "cmdb_mpage-1fkcv4j6affrc",
      "parent": "cmdb_mpage-2i9lj1hvxzgbp"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/树联动列表页/查询视图模版配置 /查询数据源数据/模型对象列表模板/查询所有模型/模型对象列表操作/是否可新建编辑/Flex布局/index.json",
      "id": "cmdb_mpage-3am5km42orkzv",
      "parent": "cmdb_mpage-3gti16btnua78"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/树联动列表页/查询视图模版配置 /查询数据源数据/模型对象列表模板/查询所有模型/模型对象列表操作/是否可新建编辑/Flex布局/归档/index.json",
      "id": "cmdb_mpage-27vzaf6srh65m",
      "parent": "cmdb_mpage-3am5km42orkzv"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/树联动列表页/查询视图模版配置 /查询数据源数据/模型对象列表模板/查询所有模型/模型对象列表操作/是否可新建编辑/Flex布局/编辑/index.json",
      "id": "cmdb_mpage-1i1yyrr7qlcmq",
      "parent": "cmdb_mpage-3am5km42orkzv"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/树联动列表页/查询视图模版配置 /查询数据源数据/模型对象列表模板/查询所有模型/模型对象列表操作/是否可新建编辑/index.json",
      "id": "cmdb_mpage-3gti16btnua78",
      "parent": "cmdb_mpage-3s4emqpmvwjfg"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/树联动列表页/查询视图模版配置 /查询数据源数据/模型对象列表模板/查询所有模型/模型对象列表操作/编辑模型拟态框/JsonSchema表单/index.json",
      "id": "cmdb_mpage-3pv2dmu775ywa",
      "parent": "cmdb_mpage-8tbhcg7osci1"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/树联动列表页/查询视图模版配置 /查询数据源数据/模型对象列表模板/查询所有模型/模型对象列表操作/编辑模型拟态框/[cmdb]编辑模型对象/index.json",
      "id": "cmdb_mpage-181wzt82g5a0b",
      "parent": "cmdb_mpage-8tbhcg7osci1"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/树联动列表页/查询视图模版配置 /查询数据源数据/模型对象列表模板/查询所有模型/模型对象列表操作/编辑模型拟态框/index.json",
      "id": "cmdb_mpage-8tbhcg7osci1",
      "parent": "cmdb_mpage-3s4emqpmvwjfg"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/树联动列表页/查询视图模版配置 /查询数据源数据/模型对象列表模板/查询所有模型/模型对象列表操作/编辑模型拟态框/编辑提醒/index.json",
      "id": "cmdb_mpage-24lo5o9ygdkwr",
      "parent": "cmdb_mpage-8tbhcg7osci1"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/树联动列表页/查询视图模版配置 /查询数据源数据/模型对象列表模板/查询所有模型/模型对象列表操作/获取模型对象/index.json",
      "id": "cmdb_mpage-yh7r23cl5z11",
      "parent": "cmdb_mpage-3s4emqpmvwjfg"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/树联动列表页/查询视图模版配置 /查询数据源数据/模型对象列表模板/根据ID查询名称/index.json",
      "id": "cmdb_mpage-3reovi4auacbt",
      "parent": "cmdb_mpage-2as2tpecpvvey"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/树联动列表页/查询视图模版配置 /查询数据源数据/模型对象列表模板/模型对象列表模板操作/index.json",
      "id": "cmdb_mpage-23xavl6n66xh2",
      "parent": "cmdb_mpage-2as2tpecpvvey"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/树联动列表页/查询视图模版配置 /查询数据源数据/模型对象列表模板/模型对象列表模板操作/删除拟态框/index.json",
      "id": "cmdb_mpage-vuf5uxcnwigi",
      "parent": "cmdb_mpage-23xavl6n66xh2"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/树联动列表页/查询视图模版配置 /查询数据源数据/模型对象列表模板/模型对象列表模板操作/删除拟态框/删除工作流/index.json",
      "id": "cmdb_mpage-10ntbj1jf8zcp",
      "parent": "cmdb_mpage-vuf5uxcnwigi"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/树联动列表页/查询视图模版配置 /查询数据源数据/模型对象列表模板/模型对象列表模板操作/删除拟态框/警告提示/index.json",
      "id": "cmdb_mpage-29j8wvgeh2txk",
      "parent": "cmdb_mpage-vuf5uxcnwigi"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/树联动列表页/查询视图模版配置 /查询数据源数据/模型对象列表模板/模型对象列表模板操作/删除拟态框/通知提醒框/index.json",
      "id": "cmdb_mpage-1ekkpr9qdcpcu",
      "parent": "cmdb_mpage-vuf5uxcnwigi"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/树联动列表页/查询视图模版配置 /查询数据源数据/模型对象列表模板/模型对象列表模板操作/条件判断/index.json",
      "id": "cmdb_mpage-185cl6dnw9fbb",
      "parent": "cmdb_mpage-23xavl6n66xh2"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/树联动列表页/查询视图模版配置 /查询数据源数据/模型对象列表模板/模型对象列表模板操作/条件判断/操作/index.json",
      "id": "cmdb_mpage-3tig25up9iph0",
      "parent": "cmdb_mpage-185cl6dnw9fbb"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/树联动列表页/查询视图模版配置 /查询数据源数据/模型对象列表模板/模型对象列表模板操作/条件判断/操作/删除/index.json",
      "id": "cmdb_mpage-8c1zqffblzp8",
      "parent": "cmdb_mpage-3tig25up9iph0"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/树联动列表页/查询视图模版配置 /查询数据源数据/模型对象列表模板/模型对象列表模板操作/条件判断/操作/动态获取Schema/index.json",
      "id": "cmdb_mpage-3cegjov5hpi8h",
      "parent": "cmdb_mpage-3tig25up9iph0"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/树联动列表页/查询视图模版配置 /查询数据源数据/模型对象列表模板/模型对象列表模板操作/条件判断/操作/对话框/index.json",
      "id": "cmdb_mpage-1qlp2y5fbayd",
      "parent": "cmdb_mpage-3tig25up9iph0"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/树联动列表页/查询视图模版配置 /查询数据源数据/模型对象列表模板/模型对象列表模板操作/条件判断/操作/对话框/导入CSV/index.json",
      "id": "cmdb_mpage-21ft1dyfs6bwj",
      "parent": "cmdb_mpage-1qlp2y5fbayd"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/树联动列表页/查询视图模版配置 /查询数据源数据/模型对象列表模板/模型对象列表模板操作/条件判断/操作/对话框/查询模型配置的schema_id/index.json",
      "id": "cmdb_mpage-1rkjvk9ahk0cm",
      "parent": "cmdb_mpage-1qlp2y5fbayd"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/树联动列表页/查询视图模版配置 /查询数据源数据/模型对象列表模板/模型对象列表模板操作/条件判断/操作/导入CSV按钮/index.json",
      "id": "cmdb_mpage-23g7z9igax36u",
      "parent": "cmdb_mpage-3tig25up9iph0"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/树联动列表页/查询视图模版配置 /查询数据源数据/模型对象列表模板/模型对象列表模板操作/条件判断/操作/导出CSV/index.json",
      "id": "cmdb_mpage-1pl48l12ja2a9",
      "parent": "cmdb_mpage-3tig25up9iph0"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/树联动列表页/查询视图模版配置 /查询数据源数据/模型对象列表模板/模型对象列表模板操作/条件判断/操作/导出CSV按钮/index.json",
      "id": "cmdb_mpage-28biyv1xo0xva",
      "parent": "cmdb_mpage-3tig25up9iph0"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/树联动列表页/查询视图模版配置 /查询数据源数据/模型对象列表模板/模型对象列表模板操作/条件判断/操作/新建/index.json",
      "id": "cmdb_mpage-y1u74w4ch1mr",
      "parent": "cmdb_mpage-3tig25up9iph0"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/树联动列表页/查询视图模版配置 /查询数据源数据/模型对象列表模板/模型对象列表模板操作/条件判断/操作/比较判断/index.json",
      "id": "cmdb_mpage-1qy3q2fnffqsx",
      "parent": "cmdb_mpage-3tig25up9iph0"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/树联动列表页/查询视图模版配置 /查询数据源数据/模型对象列表模板/模型对象列表模板操作/条件判断/操作/编辑/index.json",
      "id": "cmdb_mpage-2zzb69wd8lx31",
      "parent": "cmdb_mpage-3tig25up9iph0"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/树联动列表页/查询视图模版配置 /查询数据源数据/模型对象列表模板/模型对象列表模板操作/模型对象列表新建拟态框/[cmdb]模型对象创建/index.json",
      "id": "cmdb_mpage-3rhifvfej8jxy",
      "parent": "cmdb_mpage-211lr70x0weu2"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/树联动列表页/查询视图模版配置 /查询数据源数据/模型对象列表模板/模型对象列表模板操作/模型对象列表新建拟态框/index.json",
      "id": "cmdb_mpage-211lr70x0weu2",
      "parent": "cmdb_mpage-23xavl6n66xh2"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/树联动列表页/查询视图模版配置 /查询数据源数据/模型对象列表模板/模型对象列表模板操作/模型对象列表新建拟态框/新建表单/index.json",
      "id": "cmdb_mpage-3i7xqzowhf86m",
      "parent": "cmdb_mpage-211lr70x0weu2"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/树联动列表页/查询视图模版配置 /查询数据源数据/模型对象列表模板/模型对象列表模板操作/模型对象列表新建拟态框/通知提醒框/index.json",
      "id": "cmdb_mpage-3809kzo4y00wi",
      "parent": "cmdb_mpage-211lr70x0weu2"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/树联动列表页/查询视图模版配置 /查询数据源数据/模型对象列表模板/模型对象列表模板操作/编辑拟态框/ 编辑表单/index.json",
      "id": "cmdb_mpage-4koi3u6npmpk",
      "parent": "cmdb_mpage-1ruhwhm0nzbxe"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/树联动列表页/查询视图模版配置 /查询数据源数据/模型对象列表模板/模型对象列表模板操作/编辑拟态框/index.json",
      "id": "cmdb_mpage-1ruhwhm0nzbxe",
      "parent": "cmdb_mpage-23xavl6n66xh2"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/树联动列表页/查询视图模版配置 /查询数据源数据/模型对象列表模板/模型对象列表模板操作/编辑拟态框/编辑对象工作流/index.json",
      "id": "cmdb_mpage-29o8hivk9jtq2",
      "parent": "cmdb_mpage-1ruhwhm0nzbxe"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/树联动列表页/查询视图模版配置 /查询数据源数据/模型对象列表模板/模型对象列表模板操作/编辑拟态框/通知提醒框/index.json",
      "id": "cmdb_mpage-8s1jsgs7ndiz",
      "parent": "cmdb_mpage-1ruhwhm0nzbxe"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/树联动列表页/查询视图模版配置 /查询数据源数据/模型对象列表模板/模型对象列表模板操作/视图/index.json",
      "id": "cmdb_mpage-k7a02kb8kjce",
      "parent": "cmdb_mpage-23xavl6n66xh2"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/树联动列表页/查询视图模版配置 /查询数据源数据/模型对象列表模板/模型对象列表模板操作/视图/查询资源模型关联视图/24 栅格系统/index.json",
      "id": "cmdb_mpage-1vlthbrxqbmnt",
      "parent": "cmdb_mpage-1bzik7u0xbw1f"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/树联动列表页/查询视图模版配置 /查询数据源数据/模型对象列表模板/模型对象列表模板操作/视图/查询资源模型关联视图/24 栅格系统/对话框/index.json",
      "id": "cmdb_mpage-3ldx4wewmkp4y",
      "parent": "cmdb_mpage-1vlthbrxqbmnt"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/树联动列表页/查询视图模版配置 /查询数据源数据/模型对象列表模板/模型对象列表模板操作/视图/查询资源模型关联视图/24 栅格系统/对话框/查询资源模型关联视图/index.json",
      "id": "cmdb_mpage-1rsbg10zzgns0",
      "parent": "cmdb_mpage-3ldx4wewmkp4y"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/树联动列表页/查询视图模版配置 /查询数据源数据/模型对象列表模板/模型对象列表模板操作/视图/查询资源模型关联视图/24 栅格系统/按钮/index.json",
      "id": "cmdb_mpage-2l9w6qz1vu5e1",
      "parent": "cmdb_mpage-1vlthbrxqbmnt"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/树联动列表页/查询视图模版配置 /查询数据源数据/模型对象列表模板/模型对象列表模板操作/视图/查询资源模型关联视图/index.json",
      "id": "cmdb_mpage-1bzik7u0xbw1f",
      "parent": "cmdb_mpage-k7a02kb8kjce"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/配置资源树/JsonSchema表单/index.json",
      "id": "cmdb_mpage-mfbn0rx1u7ib",
      "parent": "cmdb_mpage-1l45czaovb9al"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/配置资源树/index.json",
      "id": "cmdb_mpage-1l45czaovb9al",
      "parent": "cmdb_mpage-229tk9jocs2fq"
    },
    {
      "file": "ops.mind/usr/lib/自定义页面库/配置资源树/配置资源树/index.json",
      "id": "cmdb_mpage-e5l32lwcyl9d",
      "parent": "cmdb_mpage-1l45czaovb9al"
    },
    {
      "file": "resources/cmdb/cmdb_object_ql-ifzkstls0nml.json",
      "id": "cmdb_object_ql-ifzkstls0nml",
      "parent": ""
    },
    {
      "file": "resources/cmdb/cmdb_ql-h65ubkok9uep.json",
      "id": "cmdb_ql-h65ubkok9uep",
      "parent": ""
    },
    {
      "file": "resources/cmdb/cmdb_workflow-205ek23bhxarg.json",
      "id": "cmdb_workflow-205ek23bhxarg",
      "parent": ""
    },
    {
      "file": "resources/cmdb_index-10mhkrmog5m92.json",
      "id": "cmdb_index-10mhkrmog5m92",
      "parent": ""
    },
    {
      "file": "resources/cmdb_index-1gpcldf9motu9.json",
      "id": "cmdb_index-1gpcldf9motu9",
      "parent": ""
    },
    {
      "file": "resources/cmdb_index-2x0obieq05eso.json",
      "id": "cmdb_index-2x0obieq05eso",
      "parent": ""
    },
    {
      "file": "resources/cmdb_index-3m0ydjr9bbx9d.json",
      "id": "cmdb_index-3m0ydjr9bbx9d",
      "parent": ""
    },
    {
      "file": "resources/cmdb_mcomponent-2uwszlfpgkmg3.json",
      "id": "cmdb_mcomponent-2uwszlfpgkmg3",
      "parent": ""
    },
    {
      "file": "resources/cmdb_mpage-12j7utspido0w.json",
      "id": "cmdb_mpage-12j7utspido0w",
      "parent": ""
    },
    {
      "file": "resources/cmdb_mpage-20ie5cdobt8zo.json",
      "id": "cmdb_mpage-20ie5cdobt8zo",
      "parent": ""
    },
    {
      "file": "resources/cmdb_mpage-314iw7qw8vsc8.json",
      "id": "cmdb_mpage-314iw7qw8vsc8",
      "parent": ""
    },
    {
      "file": "resources/cmdb_mpage-37c5vospxvja6.json",
      "id": "cmdb_mpage-37c5vospxvja6",
      "parent": ""
    },
    {
      "file": "resources/cmdb_mpage-3pe6sr7inczsk.json",
      "id": "cmdb_mpage-3pe6sr7inczsk",
      "parent": ""
    },
    {
      "file": "resources/cmdb_mpage-bw5rqpww94q3.json",
      "id": "cmdb_mpage-bw5rqpww94q3",
      "parent": ""
    },
    {
      "file": "resources/cmdb_mpage-e5l32lwcyl9d.json",
      "id": "cmdb_mpage-e5l32lwcyl9d",
      "parent": "cmdb_mpage-1l45czaovb9al"
    },
    {
      "file": "resources/cmdb_mpage-ma6qbeq117fj.json",
      "id": "cmdb_mpage-ma6qbeq117fj",
      "parent": ""
    },
    {
      "file": "resources/cmdb_mpage-zv90hvu31enk.json",
      "id": "cmdb_mpage-zv90hvu31enk",
      "parent": ""
    },
    {
      "file": "resources/cmdb_object_ql-2kg149ddswkrj.json",
      "id": "cmdb_object_ql-2kg149ddswkrj",
      "parent": ""
    },
    {
      "file": "resources/cmdb_ql-2zed3dyhzludy.json",
      "id": "cmdb_ql-2zed3dyhzludy",
      "parent": ""
    },
    {
      "file": "resources/cmdb_ql-3qdn0a6p1yuf0.json",
      "id": "cmdb_ql-3qdn0a6p1yuf0",
      "parent": ""
    },
    {
      "file": "resources/cmdb_schema_u_jsonschema_config-0.json",
      "id": "cmdb_schema_u_jsonschema_config-0",
      "parent": ""
    },
    {
      "file": "resources/cmdb_schema_u_tree_config-0.json",
      "id": "cmdb_schema_u_tree_config-0",
      "parent": ""
    },
    {
      "file": "resources/cmdb_view-2s2krkn83z7q.json",
      "id": "cmdb_view-2s2krkn83z7q",
      "parent": ""
    },
    {
      "file": "resources/cmdb_workflow-10w31drnaf7l2.json",
      "id": "cmdb_workflow-10w31drnaf7l2",
      "parent": ""
    },
    {
      "file": "resources/cmdb_workflow-1a7kg26z9zx03.json",
      "id": "cmdb_workflow-1a7kg26z9zx03",
      "parent": ""
    },
    {
      "file": "resources/cmdb_workflow-1yirla1p6muih.json",
      "id": "cmdb_workflow-1yirla1p6muih",
      "parent": ""
    },
    {
      "file": "resources/cmdb_workflow-2xvyskqdrfpuo.json",
      "id": "cmdb_workflow-2xvyskqdrfpuo",
      "parent": ""
    },
    {
      "file": "resources/cmdb_workflow-33a9dppf2ij69.json",
      "id": "cmdb_workflow-33a9dppf2ij69",
      "parent": ""
    },
    {
      "file": "resources/cmdb_workflow-ejgwga005ejm.json",
      "id": "cmdb_workflow-ejgwga005ejm",
      "parent": ""
    },
    {
      "file": "resources/cmdb_workflow-hp4egum3nct9.json",
      "id": "cmdb_workflow-hp4egum3nct9",
      "parent": ""
    },
    {
      "file": "resources/cmdb_workflow-x6yzfk9jc2eo.json",
      "id": "cmdb_workflow-x6yzfk9jc2eo",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x-1j3o1gk2ww2j1.json",
      "id": "cmdb_x-1j3o1gk2ww2j1",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x-28bl2kqrvf8xq.json",
      "id": "cmdb_x-28bl2kqrvf8xq",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x-2dimdfrfpo0lw.json",
      "id": "cmdb_x-2dimdfrfpo0lw",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x-2dx55vlrfasbr.json",
      "id": "cmdb_x-2dx55vlrfasbr",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x-2nnm9fb735g8w.json",
      "id": "cmdb_x-2nnm9fb735g8w",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x-3704cotq94n52.json",
      "id": "cmdb_x-3704cotq94n52",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x-3g9yel3oalu49.json",
      "id": "cmdb_x-3g9yel3oalu49",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x-fjqhnzpib1kw.json",
      "id": "cmdb_x-fjqhnzpib1kw",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x_u_jsonschema_config-0_default.json",
      "id": "cmdb_x_u_jsonschema_config-0_default",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x_u_tree_config-0_default.json",
      "id": "cmdb_x_u_tree_config-0_default",
      "parent": ""
    },
    {
      "file": "resources/ignore_cmdb/cmdb_object_ql-3jg26ossah60w.json",
      "id": "cmdb_object_ql-3jg26ossah60w",
      "parent": ""
    },
    {
      "file": "resources/ignore_cmdb/cmdb_object_ql-4b1hbwrw8py3.json",
      "id": "cmdb_object_ql-4b1hbwrw8py3",
      "parent": ""
    },
    {
      "file": "resources/ignore_cmdb/cmdb_ql-3d9man53w4lu6.json",
      "id": "cmdb_ql-3d9man53w4lu6",
      "parent": ""
    },
    {
      "file": "resources/ignore_cmdb/cmdb_ql-opg685mvv5pm.json",
      "id": "cmdb_ql-opg685mvv5pm",
      "parent": ""
    },
    {
      "file": "resources/lib/cmdb_mpage-1l45czaovb9al.json",
      "id": "cmdb_mpage-1l45czaovb9al",
      "parent": "cmdb_mpage-229tk9jocs2fq"
    },
    {
      "file": "resources/preferences/cmdb_object_ql-1r3gt583e5vce.json",
      "id": "cmdb_object_ql-1r3gt583e5vce",
      "parent": ""
    },
    {
      "file": "resources/preferences/cmdb_object_ql-2m6ngrfq365yq.json",
      "id": "cmdb_object_ql-2m6ngrfq365yq",
      "parent": ""
    },
    {
      "file": "resources/preferences/cmdb_workflow-35ux4izmnv8ty.json",
      "id": "cmdb_workflow-35ux4izmnv8ty",
      "parent": ""
    },
    {
      "file": "resources/scripts/cmdb_mcomponent-2uwszlfpgkmg3.data.jscode.js",
      "id": "",
      "parent": ""
    },
    {
      "file": "resources/scripts/cmdb_workflow-10w31drnaf7l2.data.nodes.2.config.script.js",
      "id": "",
      "parent": ""
    },
    {
      "file": "resources/scripts/cmdb_workflow-1a7kg26z9zx03.data.nodes.2.config.script.js",
      "id": "",
      "parent": ""
    },
    {
      "file": "resources/scripts/cmdb_workflow-1yirla1p6muih.data.nodes.2.config.script.js",
      "id": "",
      "parent": ""
    },
    {
      "file": "resources/scripts/cmdb_workflow-205ek23bhxarg.data.nodes.2.config.script.js",
      "id": "",
      "parent": ""
    },
    {
      "file": "resources/scripts/cmdb_workflow-2xvyskqdrfpuo.data.nodes.2.config.script.js",
      "id": "",
      "parent": ""
    },
    {
      "file": "resources/scripts/cmdb_workflow-33a9dppf2ij69.data.nodes.2.config.script.js",
      "id": "",
      "parent": ""
    },
    {
      "file": "resources/scripts/cmdb_workflow-35ux4izmnv8ty.data.nodes.2.config.script.js",
      "id": "",
      "parent": ""
    },
    {
      "file": "resources/scripts/cmdb_workflow-ejgwga005ejm.data.nodes.2.config.script.js",
      "id": "",
      "parent": ""
    },
    {
      "file": "resources/scripts/cmdb_workflow-hp4egum3nct9.data.nodes.2.config.script.js",
      "id": "",
      "parent": ""
    },
    {
      "file": "resources/scripts/cmdb_workflow-x6yzfk9jc2eo.data.nodes.2.config.script.js",
      "id": "",
      "parent": ""
    },
    {
      "file": "resources/tar/cmdb_ql-2kaejqjmkmxvf.json",
      "id": "cmdb_ql-2kaejqjmkmxvf",
      "parent": ""
    }
  ],
  "appdir": "ops.mind"
}